@model List<NeoXamFrontNetCore.Entities.ActionModel>
@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Liste des actions</h3>
            </div>


        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                           
                            <a asp-action="Create" asp-controller="Action"  class="btn btn-dark bg-green" > Nouveau</a>
                        </h2>
                 
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Num Action</th>
                                    <th>Libellé</th>
                                    <th>Date Prévue</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Act in Model)
                                {
                                <tr>
                                    <td>
                                        @Act.Code
                                    </td>
                                    <td>
                                        @Act.Label
                                    </td>
                                    <td>
                                        @Act.Date
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="Action" asp-route-id="@Act.Code" class="btn btn-warning"> Modifier</a>
                                        <a asp-action="Delete" asp-controller="Action" asp-route-id="@Act.Code" class="btn btn-danger"> Supprimer</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
