@model List<Evaluation>
@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Liste des évaluations des employés</h3>
            </div>


        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>  <a asp-action="Create" asp-controller="Evaluation" class="btn btn-dark bg-green"> Nouveau</a></h2>
                       
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Code Employé</th>
                                    <th>Code Risque</th>
                                    <th>Date de l'évaluation</th>
                                    <th>Valeur de l'évaluation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var eval in Model)
                                {
                                <tr>
                                    <td>
                                        @eval.employee.Prenom
                                    </td>
                                    <td>
                                        @eval.Risque?.Description
                                    </td>
                                    <td>
                                        @eval.Date
                                    </td>
                                    <td>
                                        @eval.RisqueGlobal
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="Evaluation" asp-route-id="@eval.Id.RisqueId" class="btn btn-warning"> Modifier</a>
                                        <a asp-action="Delete" asp-controller="Evaluation" asp-route-id="@eval.Id.RisqueId" class="btn btn-danger"> Supprimer</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
