@model NeoXamFrontNetCore.Entities.Project

@{
    ViewData["Title"] = "Create";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Supprimer un Projet</h3>
            </div>


        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Voulez-vous vraiment supprimer ce projet ?</h2>                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Id)
                            </div>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Id)
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DateDeb)
                            </div>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.DateDeb)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DateFin)
                            </div>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.DateFin)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Avancement)
                            </div>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Avancement)
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Designation)
                            </div>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Designation)
                            </div>
                        </div>
                      
                    </div>

                        <form asp-action="Delete">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


