@model NeoXamFrontNetCore.Entities.Project

@{
    ViewData["Title"] = "Details";
}

<div class="right_col" role="main">

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xl-9">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Details <small>projet  @Html.DisplayFor(model => model.Designation)</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div>
                           

                            <div class="row">
                                <div class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Id)
                                </div>

                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Id)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DateDeb)
                                </div>
                                <div class="col-sm-2">
                                    @Html.DisplayFor(model => model.DateDeb)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DateFin)
                                </div>
                                <div class="col-sm-2">
                                    @Html.DisplayFor(model => model.DateFin)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Avancement)
                                </div>
                                <div class="col-sm-2">
                                    @Html.DisplayFor(model => model.Avancement)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Designation)
                                </div>
                                <div class="col-sm-2">
                                    @Html.DisplayFor(model => model.Designation)
                                </div>
                            </div>
                                   
                                </div>
                                <div>
                                    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                </div>
            </div>

        </div>
    </div>
</div>